@import 'fonts';
@import 'colors';

.container {
	min-height: 100vh;
}

.title {
	font-family: $font-header;
	font-size: clamp(36px, 5vw, 56px);
	letter-spacing: 2px;
	margin: 0;
	padding-top: 112px;
	padding-bottom: 0px;
	color: $color1;
	text-align: center;
	span {
		border-bottom: 2px solid $color2;
	}
	.subTitle {
		font-size: clamp(16px, 2vw, 24px);
		color: $color1;
		letter-spacing: normal;
	}
}

.form {
	display: flex;
	justify-content: center;
	flex-direction: column;
    align-items: center;
    
	.fieldWrapper {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: flex-start;
		width: 300px;
		margin: 0;
        margin-bottom: 16px;
        
		label {
            width: 100%;
            font-family: $font-body;
            font-size: clamp(12px, 2vw, 24px);
			.formText {
                font-family: $font-body;
                font-size: clamp(12px, 1.5vw, 17px);
                margin-top: 8px;
                padding: 4px 3px;
                width: 100%;
                border: none;
                border-bottom: 2px solid $color2;
                &:focus{
                    outline: none;
                    border-bottom: 2px solid $color1;
                    padding: 4px 3px;
                }
            }
		}

		button {
            align-self: center;
            background-color: transparent;
            border: 2px solid $color1;
            border-radius: 8px;
            color: $color1;
            outline: none;
            margin-top: 8px;
            margin-bottom: 70px;
            padding: 8px 16px;
            cursor: pointer;

            font-family: $font-header;
            font-size: clamp(16px, 3vw, 32px);
            transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

            &:hover{
                color: white;
                background-color: $color1;
            }
		}
	}
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.title {
		padding-top: 200px;
		padding-bottom: 32px;
    }
    .form{
        .fieldWrapper{
            width: 400px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.title {
		padding-top: 200px;
    }
    .form{
        .fieldWrapper{
            width: 500px;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
