@import 'colors';
@import 'fonts';

.container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    color: white;
    font-family: $font-body;
}

.iconWrapper{
    display: flex;
    align-items: center;
    margin-left: 48px;
}

.icon{

}

.largeLinks{
    display: flex;
    padding: 24px 0;
    margin: 0;
    margin-right: 56px;
    list-style: none;
    font-size: clamp(11px,3vw,20px);

}
.largeLink{
    margin-left: 32px;
}