@import 'colors';
@import 'fonts';

.container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	padding-top: 16px;
	background-color: transparent;
	color: white;
	font-family: $font-body;
	opacity: 0;

	nav {
		display: flex;
		width: inherit;
		justify-content: space-between;
	}
}

.iconWrapper {
	display: flex;
	align-items: center;
	margin-left: 48px;
}

.desktop {
	display: none;
	.largeLinks {
		display: flex;
		padding: 24px 0;
		margin: 0;
		margin-right: 56px;
		list-style: none;
		font-size: clamp(11px, 3vw, 20px);
	}
	.largeLink {
		margin-left: 32px;
	}
}

// hamburger
.hamburger {
	z-index: 1001;
	margin-right: 32px;
	position: relative;
	height: 44px;
	width: 44px;
	background-color: transparent;
	cursor: pointer;

	.hamburgerLine {
		width: 44px;
		height: 4px;
		background-color: rgb(255, 255, 255);
		display: block;
		margin: 8px auto;
		transition: background-color 0.3s ease-in-out;
	}

	&.isActive .hamburgerLine {
		background-color: rgb(255, 255, 255);
	}
}

.accordian {
	color: rgb(255, 255, 255);
	overflow: hidden;
	display: flex;
	justify-content: center;
	transition: max-height 0.3s ease;
	background-color: black;
	ul {
		list-style: none;
		margin: 0 auto;
		padding: 0;
		text-align: center;
	}

	.smallLinks{
		font-size: clamp(16px, 3vw, 20px);
	}

	.smallLink{
		margin: 16px 0;
	}

	li:first-of-type {
		margin: 0;
		padding-top: 24px;
	}
	li:last-of-type {
		margin: 0;
		padding-bottom: 24px;
	}
}

a{
	color: white;
	text-decoration: none;
	&:hover{
		color: rgb(201, 201, 201);
	}
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.container {
		padding-top: 8px;
	}
	.desktop {
		display: block;
	}
	.hamburger {
		display: none;
	}
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
