@import 'colors';

.container{
    
}

.wrapper{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    
    padding: 0;
    li {
        margin: 16px 32px;
        margin-left: 0;
    }
}

.icon{
    color: $color1;
    font-size: 32px;
}